body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  height: 50px;
  width: 50px;
  object-fit: cover;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px
}
.hero-text {
  flex: 0 0 500px;
}
.hero img {
  width: 500px;
  height: auto;
}


.information h1 {
  text-align: center;
}
.information .containers {
  display: flex;
  justify-content: center;
}
.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.card div {
  text-align: center;
}