body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
/* Header section */
.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 50px;
  height: 50px;
}
.header img {
  height: 50px;
  width: 50px;
  object-fit: cover;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px
}
.hero-text {
  flex: 0 0 300px;
}
.cover-photo {
  width: 300px;
}
.hero img{
  width: 300px;
  height: auto;
}

/* Information Section */
.information h1 {
  text-align: center;
}
.information .containers {
  display: flex;
  justify-content: center;
}
.card-photo {
  width: 100px;
  height: 100px;
}
.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.card div {
  text-align: center;
}

/* Quote Section */
.author {
  text-align: right;
}

/* Call to action */
.call-to-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 80px;
  height: 30px;
}

/* Footer */
.footer {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}