* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", "Veranda", "Arial", sans-serif;
  color: #1F2937;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #F9FAF8;
  border-radius: 8px;
  padding: 8px 32px;
}

.header, .hero, .footer {
  background-color: #1F2937;
  color: #F9FAF8;
}

/* Header section */
.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 200px 0 200px;
}

.header img {
  height: 50px;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}
a {
  text-decoration: none;
  color: #F9FAF8;
}


/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 50px 150px 50px;
  flex-wrap: wrap;
}
.hero-text {
  margin: 20px;
  width: 450px;
}
.cover-photo {
  width: 450px;
  margin: 20px;
}
.hero-main {
  font-size: 48px;
  font-weight: extra-bold;
  margin-bottom: 16px;
}
.hero-secondary {
  font: 18px;
  color: #E5E7EB;
  margin-bottom: 16px;
}
.hero img{
  max-width: 100%;
  min-width: 300px;
}
.hero button {
  border: none;
}

/* Information Section */
.information {
  padding: 50px;
}
.information h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
}

.information .containers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.card {
  margin: 16px;
  margin-top: 50px;
}

.card-photo {
  width: 150px;
  height: 150px;
  padding: 8px;
  margin-bottom: 8px;
}
.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid #3882F6;
  border-radius: 8px;
}
.card div {
  text-align: center;
  font-size: 14px;
  font-weight: 100;
}
/* Quote Section */
.quote-section {
  background-color: #E5E7EB;
  padding: 100px 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote-section .content {
  flex-shrink: 0;
}
.quote {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 8px;
}
.author {
  text-align: right;
  font-size: 14px;
  font-weight: 700;
}

/* Call to action */
.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
}
.call-to-action .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 50px 100px;
  margin: 100px 200px;
  border-radius: 8px;
  width: 1500px;
}
.call-to-action h1 {
  font-size: 24px;
  margin-bottom: 8px;
}

.call-to-action p {
  font-size: 14px;
  font-weight: 100;
}
.call-to-action button {
  margin-left: 50px;
  flex-shrink: 0;
}

/* Footer */
.footer {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}